
.coverFlex {
    display: flex;
    align-items: baseline;
}

.coverSelect {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.coverInput {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
    border-left: none;
}