.page {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 20rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: .5rem;
}

.cards {
  padding: .5rem;
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-wrap: wrap;
  height: fit-content;
}