.armorTable {
  border-collapse: collapse;
}

.armorTable .bodyPartHeading > th {
  padding-top: 0.2rem;
}
.armorTable .hitTableHeading > th {
  padding-bottom: 0.2rem;
}

.armorTable tr > th {
  padding: 0 0.5rem;
  line-height: 1rem;
  background: black;
  color: white;
}

.armorTable tr > td {
  text-align: center;
  border: solid 1px black;
}

.coverFlex {
  display: flex;
  align-items: baseline;
}

.coverSelect {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.coverInput {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  border-left: none;
}