.weaponWrapper {
  max-width: 25rem;
  border: 1px solid #ddd;
  padding: 0.5rem;
  container-type: inline-size;
}

.weaponTypeHeader {
  font-weight: normal;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "type accuracy dmg"
    "ammo shots rof"
    "range rel rel"
    "conc conc conc"
    "avail avail avail";
}

.stats p {
  /*border: 1px solid #0056b3;*/
  padding: 0.2rem;
}

.type {
  grid-area: type;
}

.accuracy {
  grid-area: accuracy;
}

.dmg {
  grid-area: dmg;
}

.ammo {
  grid-area: ammo;
}

.shots {
  grid-area: shots;
}

.rof {
  grid-area: rof;
}

.range {
  grid-area: range;
}

.reliability {
  grid-area: rel;
}

.conceal {
  grid-area: conc;
}

.availability {
  grid-area: avail;
}

.weaponCode {
  display: flex;
  justify-content: space-evenly;
}

.important {
  text-transform: capitalize;
  font-weight: 500;
}

@container (width<20rem) {
  .stats {
    /*background-color: #f32;*/
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "type type type"
      "dmg ammo shots"
      "rof range accuracy"
      "rel rel rel"
      "conc conc conc"
      "avail avail avail";
    /*"ammo shots rof"*/
    /*"range rel rel"*/
    /*"conc conc conc"*/
    /*"avail avail avail"*/
  }
}
