.natStatContainer {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.natStatContainer:not(:last-child) {
    border-right: grey solid 1px;
}

.natStatInput {
    width: 1.5rem;
    text-align: center;
}

.statValues {
    text-align: center;
}

.natStatLabel {
    text-align: center;
    text-transform: uppercase;
}

.label {
    text-transform: uppercase;
    text-align: center;
}
