.inputField {
  padding: 0;
  border-radius: var(--field-border-radius);
  min-height: var(--field-height);
  border: var(--field-border-width) solid var(--field-border-color);
  /*outline: none;*/
}
