.modifierValueInput {
  width: 3rem;
}

.resetButton {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.resetButton:disabled {
  cursor: inherit;
}

.modName {
  display: inline-flex;
  width: 100%;
}

.dots {
  flex: 1 1 auto;
  border-bottom: 1px dotted black;
  margin-bottom: .4rem;
  /*overflow:hidden;*/
}

/*.dots:after {*/
/*  content:".......................................................................";*/
/*  letter-spacing: 4px; !* Use letter-spacing to increase space between dots*!*/
/*}*/