
.main {
  position: relative;
  height: 100svh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: start;
  flex-direction: column;
}